#one{
    background-color:blueviolet;
    transition-timing-function: linear;

}
#two{
    background-color:yellow;
    transition-timing-function: ease; 
    transition: time 3s;
    

    
}
#three{
    background-color:blueviolet;
    transition-timing-function:ease-in
    
    

}
#four{
    background-color:darkblue;
    transition-timing-function: ease-out
    
    

}
#five{
    background-color:violet;
    transition-timing-function:ease;
    transition: time 20s;

   
}
div:hover{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
}
div{
    width: 100px;
    height: 100px;
    transition: width 2s;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
flex-wrap: wrap;



}